from django.shortcuts import render, get_object_or_404, redirect
from django.contrib.auth.decorators import login_required
from django.contrib.auth.forms import UserCreationForm
from django.contrib.auth import login
from .models import Product

# 1. Home Page Logic
def store_home(request):
products = Product.objects.all()
return render(request, 'store/home.html', {'products': products})

# 2. Product Detail Page Logic
def product_detail(request, product_id):
product = get_object_or_404(Product, id=product_id)
return render(request, 'store/product_detail.html', {'product': product})

# 3. Dashboard Logic
@login_required
def dashboard(request):
return render(request, 'store/dashboard.html')

# 4. Register/Sign-Up Logic
def register(request):
if request.method == 'POST':
form = UserCreationForm(request.POST)
if form.is_valid():
user = form.save()
login(request, user) # Account bante hi automatically login
return redirect('dashboard')
else:
form = UserCreationForm()

return render(request, 'store/register.html', {'form': form})